@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scrollbar-color: #5858E8 #202027;
}

::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
}